h1 {
  font-size: 40px;
  font-family: Arial;
}
h2 {
  font-size: 25px;
  font-family: Arial;
}
h3 {
  font-family: Arial;
}
p {
  font-size: 14px;
  font-family: Arial;
}
.site-header {
  background-color: darkcyan;
  text-align: right;
  padding: 8px;
}
.site-header .logo {
  width: 200px;
  height: 210px;
  vertical-align: middle;
}
